:root {
    --nav-height-lg: 8%;
    --dark-grey: #232326;
    --light-grey: #515157;
    --electric-blue: #0860d0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
 
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/** Element styling **/

html {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--dark-grey);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
    color: whitesmoke;
}

footer {
    display: flex;
    border-top: var(--electric-blue) 0.25rem solid;
    color: whitesmoke;
    height: 3rem;
}

/** Class styling **/

.nav-link {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.75rem;
    flex: 1;

}

.project-link {
    flex: 1;
    height: 25vh;
    background-color: #0860d0;
    margin: 0 0.5rem 0 0.5rem;
}

.project-tile {
    /*background-color: #0860d0;*/
    text-align: center;
}

.tile-img {
    width: 100%;
    height: auto;
}

.footer-section {
    flex: 1;
}

/** ID styling **/

/* nav section */

#nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--nav-height-lg);
    background-color: var(--electric-blue);
    z-index: 1;
}

#nav-list {
    display: flex;
    align-items: center;
    list-style: none;  
    height: 100%;
}

#nav-list li {
    flex: 1;
    text-align: center;
}

/* welcome section */

#welcome-section {
    height: 100vh;
    margin: 0 auto;
    background-color: var(--dark-grey);
    color: whitesmoke;
    text-align: center;
}

#welcome-txt {
    position: relative;
    top: calc(50% - var(--nav-height-lg));
}

#me {
    color: #0860d0;
    font-weight: bolder;
}

/* projects section */

#projects {
    display: flex;
    background-color: var(--light-grey);
    justify-content: center;
    padding: 0 5% 0 5%;
}
 
/** Media queries **/
 
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   body {
        background-color: red;
   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */
 
/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {...} */
 
/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {...}*/
 
/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {...} */

/* TESTING GROUNDS */

.testblend {
    height: 5rem;
    width: 100%;
    background: linear-gradient(var(--dark-grey), var(--light-grey));
}

.testblend:nth-of-type(2) {
    background: linear-gradient(var(--light-grey), var(--dark-grey));
}